# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Archives
*.xcarchive

# Code signing
*.mobileprovision
*.provisionprofile
